table > tbody > tr > th {
  text-align: center;
}

.item_list {
  margin: 0 auto;
  width: 80%;
}

.total_amount {
  width:200px;
  margin-left: 500px;
}
.total_amount,
#show_total_amount,
.yen_mark {
  font-size: 20px;

}